<template>
  <div :class="[ isButton ? 'block-child' : 'child-inline' ]">
    <check-button v-model="node.checked" :label="node.label" :level="node.level" :is-button="!node.children || node.children.length === 0" @change="checkChange(node)"/>
    <check-tree-node v-for="node in node.children" :node="node" :key="node.id" />
  </div>
</template>

<script>

import CheckButton from './CheckButton'

export default {
  name: 'CheckTreeNode',
  components: {
    CheckButton
  },
  props: {
    node: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  computed: {
    isButton() {
      return !!this.node.children.length
    }
  },
  methods: {
    checkChange(node) {
      console.log(node)
      const handleDescendants = function(node, value) {
        if (node.children) {
          for (let i = 0; i < node.children.length; i++) {
            const child = node.children[i]
            handleDescendants(child, value)
            child.checked = value
          }
        }
      }
      handleDescendants(node, node.checked)

      const checkSibling = (node) => {
        const siblings = node.parent.children
        const len = siblings.length
        let count = 0
        let checkAll = false
        let checkHalf = false
        let checkNone = false
        for (let i = 0; i < len; i++) {
          const sb = siblings[i]
          if (sb.checked) {
            count++
          }
        }
        if (count === len) {
          checkAll = true
        } else if (count === 0) {
          checkNone = true
        } else {
          checkHalf = true
        }
        return { checkAll, checkHalf, checkNone }
      }

      const handleParent = function(node) {
        if (node.parent) {
          const { checkAll, checkHalf, checkNone } = checkSibling(node)
          if (checkAll) {
            node.parent.checked = true
          }
          if (checkHalf) {
            node.parent.checked = false
            node.parent.checkHalf = checkHalf
          }
          if (checkNone) {
            node.parent.checked = false
          }
          if (node.parent) {
            handleParent(node.parent)
          }
        }
      }
      handleParent(node, node.checked)
    }
  }
}
</script>
<style lang="scss" scoped>
.child-inline {
  display: inline-block;
}
.block-child .check-wrap {
  display: block;
}
</style>
