<template>
  <div class="check-group">
    <div v-for="node in treeData" :key="node.id" :class="[!node.children || node.children.length === 0 ? 'inline-block' : 'block']">
      <check-tree-node :node="node" :key="node.id"/>
    </div>
  </div>
</template>
<script>

import CheckTreeNode from './CheckTreeNode.vue'
import Node from './node'

export default {
  name: 'CheckTreeGroup',
  components: {
    CheckTreeNode
  },
  props: {
    data: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data() {
    return {
      treeData: []
    }
  },
  created() {
    const constructTreeData = (data, parent) => {
      const arr = []
      if (Array.isArray(data)) {
        for (let i = 0; i < data.length; i++) {
          const child = data[i]
          const node = new Node(child)
          node.setParent(parent)
          if (child.children) {
            node.children = constructTreeData(child.children, node)
          }
          arr.push(node)
        }
      }
      return arr
    }
    this.treeData = constructTreeData(this.data, null)
    console.log(this.treeData)
  }
}
</script>
<style lang="scss" scoped>
.tree-level-space {
  display: inline-block;
  width: 8px;
  height: 16px;
}
</style>
